body{
    background: radial-gradient(circle, rgb(203, 231, 164) 0%, rgb(126, 173, 228) 100%);
}


#container{
    height: 480px;
    width: 375px;
    margin : auto;
    padding: 10px;
    margin-top: 40px;
    background: rgba( 255, 255, 255, 0.25 );
    /* box-shadow: 0 4px 16px 0 rgba( 31, 38, 135, 0.37 ); */
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 24px;
    border: 3px solid rgba(182, 182, 182, 1);
}

#display{
    padding : 20px;
    text-align: end;
    text-justify: auto;
    font-size: 60px;
    color : rgb(56, 56, 56);
    font-family: Arial, Helvetica, sans-serif;
    width : 330px;
    height: 70px;
    border: 3px solid rgba(182, 182, 182, 0.473);
    background: rgba( 255, 255, 255, 0.25 );
    margin : auto;
    margin-bottom: 10px;
    border-radius: 14px;
}
#x{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.number{
    color : rgb(0, 0, 0);
    font-size: 30px;
    height: 61px;
    width: 83px;
    margin: 4px;
    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 14px;
    border: 3px solid rgba(182, 182, 182, 0.473);
}

#egal{
    color : rgb(0, 0, 0);
    font-size: 30px;
    height: 60px;
    width: 82px;
    margin: 4px;
    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 14px;
    border: 3px solid rgba(182, 182, 182, 0.473);
}
#clear{
    color : rgb(0, 0, 0);
    font-size: 30px;
    height: 65px;
    width: 177px;
    margin: 4px;
    background: rgba(50, 214, 255, 0.25);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 14px;
    border: 3px solid rgba(182, 182, 182, 0.473);
}

#delete{
    color : rgb(0, 0, 0);
    font-size: 30px;
    height: 65px;
    width: 177px;
    margin-left: 4px;
    background: rgba(255, 77, 77, 0.25);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 14px;
    border: 3px solid rgba(182, 182, 182, 0.673);
}

.operateur{
    color : rgb(255, 255, 255);
    font-size: 30px;
    height: 61px;
    width: 83px;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 14px;
    border: 3px solid rgba(182, 182, 182, 0.473);
}

.number:hover{
    cursor: pointer;
    background-color: rgba( 255, 255, 255, 0.8 );
}
.operateur:hover{
    cursor: pointer;
    color: black;
    background-color: rgba( 255, 255, 255, 0.8 );
}
#egal:hover{
    cursor: pointer;
    background-color: rgba( 255, 255, 255, 0.8 );
}
#delete:hover{
    cursor: pointer;
    background: rgba(255, 77, 77, 0.4);
}

#clear:hover{
    cursor: pointer;
    background: rgba(50, 214, 255, 0.4);
}

